{{ define "navbar" }}
<nav class="navbar is-transparent is-fixed-top is-shadowless stars" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a  href="/" class="image left">
            <img style="padding: 1px 0 2px 15px" src="/static/images/spa-constellation-64x64-dark.svg">
        </a>
        <a  href="/" class="navbar-item has-text-light is-size-4 is-size-5-mobile has-text-weight-semibold"  style="text-shadow: 2px 2px 0 rgba(25, 25, 25, .5);">Bright</a>
    </div>
</nav>
{{ end }}