{{ define "actionbar" }}
  <nav class="navbar is-transparent is-fixed-top is-shadowless stars" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a  href="/" class="image left">
        <img style="padding: 1px 0 2px 15px" src="/static/images/spa-constellation-64x64-dark.svg">
      </a>
      <a  href="/" class="navbar-item has-text-light is-size-4 is-size-5-mobile has-text-weight-semibold"  style="text-shadow: 2px 2px 0 rgba(25, 25, 25, .5);">Bright</a>
    </div>
  </nav>
{{ end }}

{{ define "character-actionbar" }}
  <nav class="navbar is-fixed-bottom is-shadowless" style="background: rgba({{ .BrightCharacter.Emblem.Background.Red }}, {{ .BrightCharacter.Emblem.Background.Green }}, {{ .BrightCharacter.Emblem.Background.Blue }}, 1);" role="navigation" aria-label="navigation">
    <div class="navbar-item center">
      <a  href="/" class="button is-warning is-size-4 is-size-5-mobile is-outlined">Equip {{ .TakenDiffs }}</a>
    </div>
  </nav>
{{ end }}

