{{ define "header" }}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bright</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" href="/static/styles/helpers.css?{{ . }}">
  <link rel="stylesheet" href="/static/styles/grid.css?{{ . }}">
  <link rel="stylesheet" href="/static/styles/bright.css?{{ . }}">
<!--  <link rel="stylesheet" href="/static/styles/debug.css">-->
</head>
{{ end }}