{{ define "navbar" }}
<nav class="navbar is-transparent is-fixed-top is-shadowless stars" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a  href="/" class="image left">
            <img style="padding: 1px 0 2px 15px" src="/static/images/spa-constellation-64x64-dark.svg">
        </a>
        <a  href="/" class="navbar-item has-text-light is-size-4 is-size-5-mobile has-text-weight-semibold"  style="text-shadow: 2px 2px 0 rgba(25, 25, 25, .5);">Bright</a>
    </div>
</nav>
{{ end }}

{{ define "character-navbar" }}
<nav class="navbar is-transparent is-fixed-top is-shadowless is-dark" role="navigation" aria-label="main navigation" style="background: black url({{ .BungieUrl }}/{{ .BrightCharacter.Emblem.BannerUri }})  center ;">
    <div class="navbar-brand center">
        <a class="image left" href="{{ .CharacterBaseUri }}">
            <img  class="image is-64x64" src="{{ .BungieUrl }}/{{ .BrightCharacter.Emblem.IconUri }}">
        </a>

        <a class="navbar-burger burger has-text-white" role="button"  aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start" style="margin-left: .5rem">
            <a class="navbar-item is-size-5 is-size-6-mobile has-text-light has-text-weight-semibold center"  href="{{ .CharacterBaseUri }}">
                <span style="margin-left: 10px; text-shadow: 2px 2px 0 rgba({{ .BrightCharacter.Emblem.Background.Red }}, {{ .BrightCharacter.Emblem.Background.Green }}, {{ .BrightCharacter.Emblem.Background.Blue }}, .75);">{{ .DisplayName }}</span>
            </a>
        </div>
        <div class="navbar-end" style="margin-right: 2rem">
            <a class="navbar-item is-size-5 is-size-6-mobile has-text-light has-text-weight-semibold center"  href="{{ .CharacterBaseUri }}/character/{{ .BrightCharacter.MembershipType }}/{{ .BrightCharacter.Id }}">
                <img src="{{ .BungieUrl }}/{{ .BrightCharacter.Emblem.IconUri }}">
                <span style="margin-left: 10px; text-shadow: 2px 2px 0 rgba({{ .BrightCharacter.Emblem.Background.Red }}, {{ .BrightCharacter.Emblem.Background.Green }}, {{ .BrightCharacter.Emblem.Background.Blue }}, .75);">{{ .BrightCharacter.Class }}</span>
            </a>
            {{ range .BrightOtherCharacters }}
            <a class="navbar-item is-size-5 is-size-6-mobile has-text-light has-text-weight-semibold center"  href="{{ $.CharacterBaseUri }}/character/{{ .MembershipType }}/{{ .Id }}">
                <img src="{{ $.BungieUrl }}/{{ .Emblem.IconUri }}">
                <span style="margin-left: 10px; text-shadow: 2px 2px 0 rgba({{ .Emblem.Background.Red }}, {{ .Emblem.Background.Green }}, {{ .Emblem.Background.Blue }}, .75);">{{ .Class }}</span>
            </a>
            {{ end }}
        </div>
    </div>
</nav>
{{ end }}