{{ define "character" }}
  <html lang="en-US">

  {{ template "header" .Tower }}

  <body>
  <section class="hero stars is-fullheight">

      character

  </section>

  {{ template "footer" .Tower }}

  {{ template "google-analytics" .Tower.GoogleAnalyticsId }}

  </body>
  </html>
{{ end }}